/* ... (предыдущие стили остаются без изменений) ... */

/* Медиа-запросы для мобильных устройств */

@media (max-width: 1680px) {
    .header-container {
        max-width: 90vw;
    }

    .intro {
        padding-top: 130px;
    }

    .intro-container {
        max-width: 90vw;
    }

    .order-container {
        max-width: 90vw;
        z-index: 3;
    }

    .footer-container {
        max-width: 90vw;
    }

    .order-car {
        right: -15vw;
    }

    .order-right-img {
        max-width: 90%;
        z-index: 1;
    }

    .about-us-top {
        max-width: 90vw;
    }
    
    .about-us-grid-item {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        max-width: 30vw;
        text-transform: uppercase;
    }
}

@media (max-width: 1420px) {
    
}

@media (max-width: 768px) {

    .intro-small-img {
        display: none;
    }
    .about-us-bottom-grid {
        flex-direction: column;
        row-gap: 20px;
    }

    .about-us-grid-item {
        max-width: 80vw;
    }

    .order-container {
        align-items: center;
    }

    .order-contacts {
        justify-content: space-between;
    }

    .order-contacts-button {
        width: 60vw;
    }
}

@media (max-width: 480px) {
    
}
